img.ico {
    height: 1em;
    width: auto;
    position: relative;
}
.halfcolumn {
  width: 50%;
  float: left;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
#caravela {
    height: auto;
    width: 100%;
}
img.halfwidth {
  width: 50%;
  height: auto;
  margin-bottom: 3em;
}